@* this view is used for the Add action and the Update action *@
@model Partner
@{
    // sets title to "Add Partner" or "Update Partner"
    ViewBag.Title = ViewBag.Action + " Partner";    
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="CategoryID" class="form-label">Category</label>
        <select asp-for="CategoryID"
                asp-items="@(new SelectList(ViewBag.Categories,
                         "CategoryID", "Name"))"
                class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name:</label>
        <input asp-for="Name" class="form-control">
    </div>

    
        <div class="mb-3">
        <label asp-for="Address" class="form-label">Address:</label>
        <input asp-for="Address" class="form-control">
    </div>

        <div class="mb-3">
        <label asp-for="Email" class="form-label">Email:</label>
        <input asp-for="Email" class="form-control">
    </div>

            <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone:</label>
        <input asp-for="Phone" class="form-control">
    </div>

 <!--   <div class="mb-3">
        <label asp-for="BusinessTypeId" class="form-label">BusinessTypeId:</label>
        <input asp-for="BusinessTypeId" class="form-control">
    </div>
-->
    <input type="hidden" asp-for="PartnerID" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>